<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<form method="POST" action="update/{{ user.id }}">
      {% csrf_token %}
    <title>Update Detail</title>
    <style>
           table, th, td {
           border: 1px solid black;
                         }
    </style>
<table style="width:20%">
  <tr>
            <th style="color: crimson">UserName</th>
             <td><input type="text" class="form-control" name="username" required="{{ user.username }}"></td>
  </tr>
         <tr>
                 <th style=" color: crimson">Email</th>
                 <td><input type="email"  class="form-control" name="email" required="{{ user.email }}"></td>
         </tr>
</table>
                 <button type="submit">Update</button>
</form>