<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<form method="POST" action="update/{{ movie.id }}">
      {% csrf_token %}
    <title>Update Detail</title>
<table class="table table-striped">
  <tr>
      <th>movieName</th>
    <th>short desc</th>
    <th>Long desc</th>
      <th>ThumbNail</th>
      <th>Video Url</th>
  </tr>
    <tr>
        <td><input type="text"   class="form-control" name="name" required="{{ movie.name }}"></td>
        <td><input type="text"  class="form-control" name="shot_desc" required="{{ movie.shot_desc }}"></td>
        <td><input type="text"  class="form-control" name="long_desc" required="{{ movie.long_desc }}"></td>
        <td><input type="text"  class="form-control" name="thumbnail" required="{{ movie.thumbnail }}"></td>
        <td><input type="text"  class="form-control" name="video_url" required="{{ movie.video_url }}"></td>
    </tr>
</table>
      <button type="submit">Update</button>
</form>