<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>Movie View</title>
    </head>
    <body>
        <table class="table table-dark">
            <th>Name</th>
            <th>Short Description</th>
            <th>Long Description</th>
            <th>Thumbnail</th>
            <th>Video Url</th>
            <th>Delete Movie</th>
            <th>Edit Movie</th>
            <tbody>
                {% for i in movie %}

                            <td>{{ i.name }}</td>
                            <td>{{ i.shot_desc }}</td>
                            <td>{{ i.long_desc }}</td>
                            <td>
                                <img src="{{ i.thumbnail }}"class="rounded" alt="Cinque Terre">
                            </td>
                            <td>
                                  <iframe class="embed-responsive-item" src="{{ i.video_url }}" allowfullscreen></iframe>

                            </td>
                        <td><a href="delete_movie/{{ i.id }}"> Delete </a></td>
                    <td><a href="edit_movie/{{ i.id }}"> Edit </a>
                         </td>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>